@model TravelBookApplication.Models.ViewModels.NewsFeedViewModel

@{
    ViewBag.Title = @Model.UserDisplayed.FullName + " Stories";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="well">
    <div class="stories-header">
        <h2>@ViewBag.Title</h2>

        @if(Model.ProfileDisplayed.Id == Model.UserDisplayed.Id)
        {
            <button id="story-create" class="btn btn-primary" >Add Story</button>   
        }
    </div>
    <hr />
    <div class="story-content">
        @foreach(var story in Model.Content)
        {
            <div class="story-wrapper well">
                <div class="story-info">
                    <a href="#" class="story-link">@story.StoryTitle</a>
                    <img src="@Url.Content(Model.StoryDirectory + story.StoryName)" class="hidden"/>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("StoryCreateModals");
@Html.Partial("StoryDisplayModal");