@{
    Layout = "_MainLayout.cshtml";
}

<div class="sidebar">
    <nav id="side-nav">
        <div id="profile-picture-container">
            <div id="profile-picture-slot">
            </div>
            <div class="profile-name-section">
                <h4>Sverrir Magnússon</h4>
                <button id="profile-button" class="btn btn-primary">Change Profile</button>
            </div>
        </div>
        <hr />
        <ul class="nav nav-pills nav-stacked user-actions">
            <li>@Html.ActionLink("Wall", "Index", "Home")</li>
            <li>@Html.ActionLink("Friends", "Index", "Home")</li>
            <li>@Html.ActionLink("Images", "Index", "Home")</li>
            <li>@Html.ActionLink("Stories", "Index", "Home")</li>
        </ul>
        <hr/>
        <div class="group-display">
        </div>
    </nav>
</div>

<div class="main-content">
    <div class="content">
        @RenderBody()
    </div>
</div>