@model TravelBookApplication.Models.ViewModels.BaseViewModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="sidebar">
    <nav id="side-nav">
        <div id="profile-picture-container">
            <div id="profile-picture-slot">
                <img src=@Url.Content(Model.ImageDirectory + Model.ProfileDisplayed.ProfileImageName) alt="profile image" />
            </div>
            <div class="profile-name-section">
                <h4>@Model.ProfileDisplayed.FullName</h4>
                <button id="profile-button" class="btn btn-primary">Change Profile</button>
            </div>
        </div>
        <hr />
        <ul class="nav nav-pills nav-stacked user-actions">
            <li>@Html.ActionLink("Wall", "UserWall", "Profile", new { id = Model.ProfileDisplayed.Id }, new { })</li>
            <li>@Html.ActionLink("Friends", "UserFriends", "Profile", new { id = Model.ProfileDisplayed.Id }, new { })</li>
            <li>@Html.ActionLink("Images", "UserImages", "Profile", new { id = Model.ProfileDisplayed.Id }, new { })</li>
            <li>@Html.ActionLink("Stories", "UserWall", "Profile", new { id = Model.ProfileDisplayed.Id }, new { })</li>
        </ul>
        <hr/>
        <div class="group-display">
        </div>
    </nav>
</div>

<div class="main-content">
    <div class="content">
        @RenderBody()
    </div>
</div>