@model TravelBookApplication.Models.ViewModels.BaseViewModel

@{
    Layout = "_MainLayout.cshtml";
}

<div class="sidebar well">
    <nav id="side-nav">
        <div id="user-picture-container">
            <div class="user-picture-slot">
                <img src= @Url.Content(Model.ImageDirectory + Model.UserDisplayed.ProfileImageName) alt="profile image" />
            </div>
            <div class="user-name-section">
                <h6>@Html.ActionLink(Model.UserDisplayed.FullName, "UserWall", "Profile", new { id = Model.UserDisplayed.Id }, new { })</h6>
            </div>
        </div>
        <hr />
        <ul class="nav nav-pills nav-stacked user-actions">
            <li>@Html.ActionLink("Friends", "UserFriends", "Profile", new { id = Model.UserDisplayed.Id }, new { })</li>
            <li>@Html.ActionLink("Messages", "UserNewsfeed", "Home")</li>
        </ul>
        <hr />
        <div class="group-display">
        </div>
    </nav>
</div>

<div class="main-content">
    <div class="content">
        @RenderBody()
    </div>
</div>